@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0f1020;
  --text-color: #ffffff;

  --gamba-ui-border-radius: 10px;

  --gamba-ui-button-default-background: #0e0e16;
  --gamba-ui-button-default-background-hover: #11111d;
  --gamba-ui-button-default-color: white;

  --gamba-ui-button-main-background: #8851ff;
  --gamba-ui-button-main-background-hover: #9564ff;

  --gamba-ui-input-background: #0e0e16;
  --gamba-ui-input-color: #ffffff;
  --gamba-ui-input-background-hover: #11111d;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

/* GambaUi.WagerInput */
.sc-iBdnpw.lkQOOO img {
  width: 2rem !important;
  height: 2rem !important;
}